@import "../../scss/variables";
.create-user{
  h4 {
    color: $color-white;
  }
  .card-header {
    background-color: $primary-color;
    padding: 10px 20px 10px 11px !important;
  }
  .ant-btn.square {
    background: #005293;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    padding-left: 10px;
    font-family: "DroidSans-Bold";
    height: 40px;
  }
}

