@import "../../scss/variables";

.inner-profile-right.certification-owner {
  .ant-table-thead > tr > th .ant-table-header-column {
    height: 20px;
  }
  .user-profile-data .ant-table-body table .ant-table-row-level-0:nth-child(odd) {
    background-color: #e7eaf1;
  }
  .user-profile-data .ant-table-body table .ant-table-row-level-0:nth-child(even) {
    background-color: #eff2f9;
  }
  .user-profile-data .ant-table-body table {
    border-collapse: collapse;
  }
  .user-profile-data table .ant-table-thead > tr {
    background-color: #f0f3f5 !important;
  }
  .no-padding-table.user-profile-data table th {
    padding-left: 0;
    padding-right: 10px;
  }
}
.color-white {
  .ant-radio-wrapper {
    color: #fff;
  }
}
