@import "../../scss/variables";
.request{
  .add-to-cart.ant-btn.square{
        background: #1d592e !important;

      }
  .add-to-cart-select.ant-btn.square{
    background: #60b979 !important;

  }
  .edit.add-to-cart.ant-btn.square{
    background: #1d592e !important;
    height: 25px;
  }
.user-header{
  background: #ade4bc;
}
  .ant-select-sm .ant-select-selection--single {
    height: 40px !important;
    border-radius: 0 !important;
    padding-top: 4px !important;
    .ant-select-selection__rendered {
      line-height: 30px !important;
    }
  }

  .main-table table tr td .ant-btn {
    width: auto !important;
    height: 40px !important;
    color: #ffffff !important;
    background: #1d592e !important;
    font-size: 16px !important;
  }

  .ant-input {
    height: 40px !important;
    border-radius: 0 !important;
  }
  .btn-round-label {
    position: absolute;
    left: 2px;
    background: #60b979;
    border-radius: 20px;
    padding: 5px;
    width: 30px;
    top: -23px;
    height: 30px;
    padding-top: 4px;
  }
}

.user-detail-page {
  display: flex;
  padding-top: 35px;

  .custom-side-bar {
    width: 320px;
    max-width: 320px;
    background-color: $primary-color;
    flex: 1;
    margin-left: -10px;
    min-height: calc(100vh - 60px);
    margin-top: 25px;

    .custom-inner-profile {
      margin-left: 25px;
      margin-right: 25px;
      background-color: #eff2f9;
      border-radius: 20px;

    }
    .user-search {
      padding: 25px 35px;
      .ant-input{
        border-radius: 5px;
      }
    }

    .user-list-item {
      display: flex;
      align-items: center;
    }

    .initial-name {
      color: $font-color;
      font-size: 18px;
    }

    .initial-name-inner-profile {
      width: 60px;
      background: #111;
      color: #fff;
      border-radius: 30px;
      font-size: 24px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    .ant-tabs-nav-scroll {
      max-height: 300px;
    }


  }

  .ant-tabs .ant-tabs-right-bar {
    border: none;
    .ant-tabs-nav-wrap{
      .ant-tabs-nav{
        padding-left: 5px;
      }
    }
  }

  .dashboard {
    flex: 1;
  }

  .sticky-btn{
    ant-btn.square{
      background: $color-black;
      color: $color-white;
      height: 50px;
    }
  }

}

.inner-profile-right.certification-owner {
  .ant-table-thead > tr > th .ant-table-header-column {
    height: 20px;
  }
  .user-profile-data .ant-table-body table .ant-table-row-level-0:nth-child(odd) {
    background-color: #e7eaf1;
  }
  .user-profile-data .ant-table-body table .ant-table-row-level-0:nth-child(even) {
    background-color: #eff2f9;
  }
  .user-profile-data .ant-table-body table {
    border-collapse: collapse;
  }
  .user-profile-data table .ant-table-thead > tr {
    background-color: #f0f3f5 !important;
  }
  .no-padding-table.user-profile-data table th {
    padding-left: 0;
    padding-right: 10px;
  }
}
.color-white {
  .ant-radio-wrapper {
    color: #fff;
  }
}
