$primary-color: #0c2461;
$secondary-color: #00A654;
$color-white: #FFFFFF;
$color-black: #000000;
$font-color: #0a0a0E;
$btn-bg-color: #005293;

$font-family: 'DroidSans';
$font-family-bold: 'DroidSans-Bold';

$table-row-background: #D9DCE3;
